@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom subtle scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Custom form and ring defaults */
input:focus, select:focus, textarea:focus {
  outline: none;
}
